<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <style id="style">
      * {
        font-family: "Space Grotesk", sans-serif;
        margin: 0;
      }

      body {
        background-color: black;
        color: #fafafa;
        transition: background-color 100ms ease-in-out;
      }
    </style>
  </head>
  <body>
    <div style="display: flex; align-items: center; justify-content: center">
      <img
        style="width: 25vw; border-radius: 2vw"
        src="https://cloud-o1jmxy3ys-hack-club-bot.vercel.app/0qr-code__2_.png"
      />

      <div
        style="
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 4vw;
        "
      >
        <h2 style="font-weight: normal; font-size: 4vw; margin-bottom: -2vw">
          Welcome to
        </h2>
        <h1 style="font-size: 13vw; -webkit-text-stroke: 0.2vw black">
          ASSEMBLE
        </h1>
      </div>
    </div>

    <div
      style="
        position: absolute;
        bottom: 5vw;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        font-size: 3vw;
      "
    >
      <div
        style="max-width: 50vw; margin: 0 auto; text-align: center"
        id="message"
      >
        <i>Now with custom CSS!</i>
      </div>
    </div>

    <div style="position: absolute; top: 2vw; right: 2vw">
      <h3 style="font-size: 2vw; font-weight: normal">
        Wi-Fi: <strong>Hack Club</strong>
      </h3>
      <h3 style="font-size: 2vw; font-weight: normal">
        Password: <strong>dinosaurbbq</strong>
      </h3>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const jsConfetti = new JSConfetti();

      socket.on("refresh", () => {
        location.reload();
      });

      socket.on("emoji", (emoji) => {
        jsConfetti.addConfetti({
          emojis: [emoji],
        });
      });

      let timeout;

      socket.on("message", (message) => {
        document.getElementById("message").innerText = `“${message}"`;

        if (timeout) {
          clearTimeout(timeout);
        }

        timeout = setTimeout(() => {
          document.getElementById("message").innerText = "";
        }, 10000);
      });

      socket.on("css", (styles) => {
        document.getElementById("style").append("\n" + styles);
      });

      socket.on("color", (color) => {
        document.body.style.backgroundColor = color;
      });
    </script>
  </body>
</html>
